server/alpha.txt
server/beta.txt
server/delta.txt
server/gamma.txt
server/a.out
server/server
server/noperm.txt
server/empty.txt
client/a.out
client/client
client/alpha.txt
client/beta.txt
client/delta.txt
client/gamma.txt
client/empty.txt
server/dir
client/TENET\ -\ Final\ Trailer.mp4
server/TENET\ -\ Final\ Trailer.mp4